:root{
  --primary-dark: #020202;
  --clr-logo: rgba(0, 121, 107, 1);
  --clr-light-green : rgba(12, 188, 139, 0.4);
  --green-deem: rgba(12, 188, 139, 0.1);
  --primary-white: #fff;
    --clr-color-gray-trans: #ccc;
  --clr-gray-contact: rgb(233, 235, 236);
     --danger-faint: #e37474;
}
.contact-Container{
    display: none;
}
#headerShow{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: var(--primary-dark);
}
#loader {
  width: 48px;
  height: 48px;
  position: relative;
 
}
#loader::before , #loader::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 48em;
  height: 48em;
  background-image:
    radial-gradient(circle 10px, var(--clr-logo) 100%, transparent 0),
    radial-gradient(circle 10px, var(--clr-logo) 100%, transparent 0),
    radial-gradient(circle 10px, var(--clr-logo) 100%, transparent 0),
    radial-gradient(circle 10px, var(--clr-logo) 100%, transparent 0),
    radial-gradient(circle 10px, var(--clr-logo) 100%, transparent 0),
    radial-gradient(circle 10px, var(--clr-logo) 100%, transparent 0),
    radial-gradient(circle 10px, var(--clr-logo) 100%, transparent 0),
    radial-gradient(circle 10px, var(--clr-logo) 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                       13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
#loader::after {
  font-size: 1px;
  background: var(--clr-light-green);
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0% , 100%{ font-size: 0.75px }
  50% { font-size: 1.5px }
}
@keyframes blast {
  0% , 40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
   100% {
     font-size: 6px;
    opacity: 0;
  }
}
.contact{
    margin: 90px 0 0 0;
    padding: 10px 270px;
}
#contact_header{
    font-weight: 800;
    line-height: 68px;
    margin: 30px 0;
    text-align: center;
}
.contactForm{
    margin: 10px 250px;
}
.formName, .formEmail, .formMessage{
    display: flex;
    flex-direction: column;
}
.formName input, .formEmail input, .formMessage textarea{
    padding: 9px 10px;
    margin: 10px 0;
    outline: none;
    border: none;
    background: var(--clr-gray-contact);
    border-radius: 5px; 
}
.formName input:focus, .formEmail input:focus, .formMessage textarea:focus{
     border: 1px solid var(--clr-logo);
    outline: 2px solid var(--clr-logo);
    transition: .2s;
    box-shadow: 0 0 4px var(--clr-color-gray-trans);
    background: var(--primary-white);
}.formMessage textarea{
    resize: none;
}
.submit{
    margin: 20px 0;
}
.submit button{
        width: 100%;
    padding: 8px;
    border: none;
    background: var(--clr-logo);
    color: var(--primary-white);
    border-radius: 5px;
}
.modal_Contact, .displayError{
    background: var(--clr-logo);
    color: var(--primary-white);
    border-radius: 5px;
    box-shadow: 0 0 30px var(--clr-color-gray-trans);
    padding: 12px 7px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 150px;
    top: 20%;
    border: 2px solid var(--clr-color-gray-trans);
    animation: trans 0.2s ease-in-out;
    /* display: none; */
}
.displayError{
    background: var(--danger-faint);
}
.modal_Contact p i, .displayError p i{
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
}
@keyframes trans {
    from{
        transform: scale(1.1);
        opacity: 1;
    }
    to{
        transform: scale(0);
        opacity: 0;
    }
}

@media screen and (min-width: 0) and (max-width: 820px){
  .contact{
    margin: 90px 0 0 0;
    padding: 10px 40px;
}
    .contactForm{
        margin: 10px 15px;
    }
    .modal_Contact, .displayError{
        margin: 0 30px;
    }
    
}