
:root{
  --primary-dark: #020202;
  --clr-logo: rgba(0, 121, 107, 1);
  --clr-light-green : rgba(12, 188, 139, 0.4);
  --green-deem: rgba(12, 188, 139, 0.1);
  --primary-white: #fff;
  --danger-faint: #eea2a2;
}
/* Append a background-coor to the HouseDescription Component */
.backgroundAppend{
    transition: all .5s;
    background: linear-gradient(rgba(0, 0, 0,  0.1), rgba(0, 0, 0, 0.2));
}
.propertyContainer{
    padding: 20px 120px;
}
.propertyHead{
    text-align: center;
    margin: 15px 0;
}
.propertyHead h2{
    margin: 20px 0;
}
#backLink{
    cursor: pointer;
    transition: transform 0.9s ease, background-color 0.9s ease;
}
#backLink:hover{
    transform: translateX(-10px);
    transition: .8s;
}
#houseImg{
    width: 100%;
    margin: 15px 0;
}
.houseInfos{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-weight: bold;
}
.houseDetails{
    margin: 15px 0;
    line-height: 30px;
}
.houseContents h2{
    text-align: center;
    margin: 10px 0;
}
.houseContents span{
    padding: 0 10px;
    line-height: 30px;
    font-weight: 500;
}

.mainFeature{
    margin: 37px 0;
}
.mainFeature h2{
    font-weight: 600;
    line-height: 100%;
    font-size: 1.8rem;
    margin: 15px 0;
}
.features span{
    padding: 0 10px;
}
.buyButton, .buyNow{
    margin: 40px 0 0 0;
    text-align: center;
}
.buyButton button, .buyNow button{
    width: 50%;
    border: none;
    border-radius: 7px;
    background: var(--clr-logo);
    color: var(--primary-white);
    padding: 12px 0;
    margin: 15px 0;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.9s ease, background-color 0.9 ease;
}
.buyNow button:hover{
    transform: scale(1.1);
    transition: .3s;
}
/* Features Styles */
.featuresMsg{
    background: var(--clr-light-green);
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0 2.9px 50px #ccc;
    display: none;
    transition: transform 0.9s ease, background-color 0.9s ease;
}
.del-features-container{
    display: flex;
    justify-content: flex-end;
}
#del-features-bar{
    font-size: 20px;
    color: var(--primary-dark);
    cursor: pointer;
    padding: 5px 5px;
}
#features-bar{
    font-size: 20px;
    position: relative;
    left: -12px;
    top: -10px;
    /* box-shadow: 0 2.9px 50px #ccc; */
    color: #949393;
    cursor: pointer;
}
#features-bar:hover{
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 0 0 10px var(--primary-white)
}
#buy_Modal{
    background: var(--primary-white);
    margin: 20px 190px;
    padding: 10px 15px;
    border-radius: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 100;
    transition: .5s ease;
    transform: translateY(10px);
    display: none;
}
.modalTitle{
    margin: 10px 0;
}
#eq-form{
    margin: 25px 0;
    padding: 0 10px;
}
#eq-form textarea{
    resize: none;
    scroll-snap-type: none;
}
.modalClose{
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px;
}
.modalClose button{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    position: relative;
    bottom: 15px;
}
#close-btn-purchase{
    background: transparent;
    color: var(--primary-dark);
    border: 2px solid #ccc;
}
.msg-purchase-success{
    background: var(--clr-logo);
    color: var(--primary-white);
    border-radius: 8px;
    padding: 5px 5px;
    /* display: flex; */
    font-weight: bold;
    font-size: 1.2rem;
    /* width: 50%; */
    margin: 10px 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    display: none;
    z-index: 100;
}
.closeMesg-success{
    display: flex;
    justify-content: flex-end;
}
/* Cancel Purchase Modal */
.cancel-Modal{
    animation-name: trans;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    background: var(--danger-faint);
    padding: 10px 5px;
    border-radius: 8px;
    box-shadow: 0 0 30px #ccc;
    transition: .5s;
    border: 1px solid var(--primary-white);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 15px 50px;
    display: none;
    /* color: var(--primary-white); */
}
@keyframes trans {
    0%{transform: scale(0);
        opacity: 0;
    }
    100%{transform: scale(1.1);
        opacity: 1;
    }
}
@media screen and (min-width: 0) and (max-width: 820px) {
    .propertyContainer{
        padding: 20px 20px;
    }
    #btn-toggle-p, #close-btn-purchase{
       width: 70%;
    }
    #buy_Modal{
        margin: 20px 20px;
    }
    .msg-purchase-success{
          margin: 10px 20px;
    }
    .cancel-Modal{
            margin: 15px 20px;

    }
}